﻿@model MoviesResultViewModel


<h1>Movies</h1>

<div style="margin-bottom:20px;">
    @foreach (var year in Enumerable.Range(DateTime.Now.AddYears(-10).Year, 11))
    {
        <a asp-action="Index" asp-route-year="@year">@year</a>
    }
</div>

@foreach (var movie in Model.Movies ?? Enumerable.Empty<Movie>())
{
    <div>
        @movie.Title, @movie.Rating
        @if (movie.Genres.Any())
        {
            @:, (@String.Join(", ", movie.Genres))

        }
        , <a target="_blank" asp-action="imdb" asp-route-id="@movie.Id" asp-route-provider="@Model.Provider">imdb</a>
    </div>
}